@import '/src/styles.scss';

.example-container {
  height: 100%;
}

.left-menu {
  width: 200px;
}

.header {
  background-color: $primary-color;;
  display: flex;
  padding: 1rem;


  .menu-button {
    background-color: $secondary-color;
    margin-left: 1rem;
  }
}

.main-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .menu-button {
    background-color: $secondary-color;
    margin-left: 1rem;
  }

  .transaction-buttons-area {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-right: auto;
    margin-left: auto;

    .transaction-button {
      &:hover {
        transform: scale(130%);
        transition-duration: 0.2s;
      }
    }
  }
}
