@import '/src/styles.scss';

.main-buttons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

  .menu-button {
    background-color: $secondary-color;
    margin-left: 1rem;
  }

  .transaction-buttons-area {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-right: auto;
    margin-left: auto;

    .transaction-button {
      &:hover {
        transform: scale(130%);
        transition-duration: 0.2s;
      }
    }
  }
}
