
<app-navbar-top></app-navbar-top>

<div class="main-buttons">
  <div class="transaction-buttons-area">
    <a class="btn-floating btn-large waves-effect waves-light green transaction-button"
      [routerLink]="'transaction/add'">
        <i class="material-icons">add</i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light red transaction-button"
      [routerLink]="'transaction/remove'">
        <i class="material-icons">remove</i>
    </a>
  </div>
</div>

<router-outlet></router-outlet>

