@import '/src/styles.scss';

.navbar {
  background-color: $primary-color;

  .nav-wrapper {
    display: flex;

    .menu-toggle {
      display: block;
      padding: 0 15px;
      margin-left: 0;

      &:hover {
        background-color: $primary-color-lighter;
      }
    }

    .brand-area {
      width: 100%;
      display: flex;
      justify-content: center;

      .brand-logo {
        margin: 0 auto;
      }
    }

    .menu-options {
      display: flex;
      margin: 0 0 0 auto;
    }

  }
  
  
  .brand-logo {
    margin-left: 1rem;
  }

  .menu-items {
    &:hover {
      background-color: $primary-color-lighter;
    }
  }
}

.open-side {
  background-color: $secondary-color;
  margin: 1rem;
  &:active {
    transform: translateX(300px);
    transition-delay: .3s;
  }
}