@import '/src/styles.scss';

.navbar {
  background-color: $primary-color;
  
  .brand-logo {
    margin-left: 1rem;
  }

  .menu-items {
    &:hover {
      background-color: $primary-color-lighter;
    }
  }
}

.open-side {
  background-color: $secondary-color;
  margin: 1rem;
  &:active {
    transform: translateX(300px);
    transition-delay: 2s;
  }
}