<nav class="navbar">
  <div class="nav-wrapper">
    <a href="#" data-target="slide-out" class="menu-toggle sidenav-trigger"><i class="material-icons">menu</i></a>
    <div class="brand-area">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Financeiro</a>
    </div>
    <ul class="menu-options hide-on-med-and-down">
      <li>
        <a class="menu-items"
          ><i class="material-icons">search</i></a
        >
      </li>
      <li>
        <a class="menu-items"><i class="material-icons">more_vert</i></a>
      </li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <a href="#!"><i class="material-icons">cloud</i>Financeiro</a>
  </li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Meu Financeiro</a></li>
  <li><a class="waves-effect" href="#!">Cartões</a></li>
  <li><a class="waves-effect" href="#!">Faturas</a></li>
  <li><a class="waves-effect" href="#!">Objetivos</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Contas Conjuntas</a></li>
  <li><a class="waves-effect" href="#!">Visualização</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Contas Fixas</a></li>
  <li><a class="waves-effect" href="#!">Visualização</a></li>
  <li><a class="waves-effect" href="#!">Planejamento</a></li>
</ul>
