<!-- <nav class="navbar">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Financeiro</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="menu-items"
          ><i class="material-icons">search</i></a
        >
      </li>
      <li>
        <a class="menu-items"><i class="material-icons">more_vert</i></a>
      </li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <a href="#!"><i class="material-icons">cloud</i>Financeiro</a>
  </li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Meu Financeiro</a></li>
  <li><a class="waves-effect" href="#!">Cartões</a></li>
  <li><a class="waves-effect" href="#!">Faturas</a></li>
  <li><a class="waves-effect" href="#!">Objetivos</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Contas Conjuntas</a></li>
  <li><a class="waves-effect" href="#!">Visualização</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Contas Fixas</a></li>
  <li><a class="waves-effect" href="#!">Visualização</a></li>
  <li><a class="waves-effect" href="#!">Planejamento</a></li>
</ul>

 -->
 <mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <p><button mat-button (click)="sidenav.toggle()">open</button></p>
  </mat-sidenav-content>
</mat-sidenav-container>