
$primary-color: #14142D;
$primary-color-lighter: #113B52;
$secondary-color: #17D2F6;
$grey: #E8E7EC;
$white: #FFFFFF;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
